<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="../../../../public/static/images/favicon.ico" />
<meta charset="UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>KeepBay</title>
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="../../../../public/static/styles/style.css" rel="stylesheet" type="text/css" />
<link href="../../../../public/static/styles/inner.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<link href="styles/ie8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="../../../../public/static/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../../../public/static/js/hoverIntent.js"></script> 
<script type="text/javascript" src="../../../../public/static/js/superfish.js"></script> 
<script type="text/javascript" src="../../../../public/static/js/supersubs.js"></script>
<script type="text/javascript" src="../../../../public/static/js/contact.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
	//Menu
	jQuery("ul.sf-menu").supersubs({ 
	minWidth		: 12,		// requires em unit.
	maxWidth		: 27,		// requires em unit.
	extraWidth		: 3	// extra width can ensure lines don't sometimes turn over due to slight browser differences in how they round-off values
						   // due to slight rounding differences and font-family 
	}).superfish();  // call supersubs first, then superfish, so that subs are 
					 // not display:none when measuring. Call before initialising 
					 // containing tabs for same reason. 
					 
});
</script>
</head>
<body>
<div style="text-align:center;height:90px; width:100%;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- DEMO_970_90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-3553298197128602"
     data-ad-slot="9659969381"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div id="outer-container">
	<div id="container">
    	<div id="top">
        	<div id="logo"><a href="/index"><img src="../../../../public/static/images/logo.png" width="270" height="110" alt=""  /></a></div><!-- end #logo -->
            <div id="nav">
                <ul id="topnav" class="sf-menu">
                    <li><a href="/index">首页</a></li>
                    <li><a href="/index/index/Index/product">产品</a>
                        <ul>
                            <li><a href="portfolio.html">Portfolio One Column</a></li>
                            <li><a href="portfolio2.html">Portfolio Two Column</a></li>
                            <li><a href="portfolio3.html">Portfolio Three Column</a></li>
                            <li><a href="portfolio4.html">Portfolio Four Column</a></li>
                        </ul>
                    </li>
                    <li><a href="/index/index/Index/contact" class="current">联系我们</a></li>
                </ul><!-- #topnav -->
            </div><!-- #nav -->	
        </div><!-- end #top -->
        
        <div id="header" class="innerpage">
        	<div class="shadow"></div>
        	<div class="container940">
        		<h1 class="pagetitle">联系我们</h1>
                <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #header -->
        
        
		<div id="content" class="withsidebar">
        	<div id="main">
            	<div id="maincontent">
                    <h2 class="title_pattern uppercase"><span>与我们保持联系</span></h2>
                    <p>让我们了解自己的表现如何。选择以下适用的反馈选项 (我们会阅读每一条反馈，但不能保证全部回复)： </p>
                    
                    <div class="separator line"></div>
                    
                    
                    <div id="contactform">
                      <form id="contact" action="#">
                        <fieldset>
                          <label for="name" id="name_label">姓名:</label>
                          <input type="text" name="name" id="name"  value="" class="text-input" /><br/>
                          <label for="email" id="email_label">电子邮箱:</label>
                          <input type="text" name="email" id="email"  value="" class="text-input" /><br/>
                          <label for="subject" id="subject_label">主题:</label>
                          <input type="text" name="subject" id="subject"  value="" class="text-input" /><br/>
                          <label for="msg" id="msg_label">信息:</label>
                         <textarea cols="60" rows="10" name="msg" id="msg" ></textarea> <br class="clear" />
                          <input type="submit" name="submit" class="butcontact" id="submit_btn" value="提交"/>
                        </fieldset>
                      </form>
                      <br class="clear" />
                      <span class="error" id="name_error">请输入姓名 !</span>
                      <span class="error" id="email_error">请输入电子邮箱 !</span>
                      <span class="error" id="email_error2">请输入有效的电子邮箱 !</span>
                      <span class="error" id="msg_error">请输入信息 !</span>
                      
                    </div><!-- end #contactform -->
                    
                     <div class="clear"></div><!-- clear float -->
                </div><!-- end #maincontent -->
                <div id="sidebar">
                	<ul>
                    	<li class="widget-container">
                        	<h2 class="widget-title">联系我们</h2>
                            <div class="textwidget">
                           <p> KeepBay - Office Blvd No. 356-357<br/>
                            Farmville Town, LA 12345</p>
                            <p>
                            电话: +62 500 800 123<br/>
                            传真: +62 500 800 112<br/>
                            电子邮件: <a href="mailto:rodrickomg99@gmail.com" class="colortext">rodrickomg99@gmail.com</a><br/>
                            网站: <a href="http://www.cqu.edu.cn" class="colortext">www.keepbay.com</a><br/>
                            </p>
                            </div>
                        </li>
                    	<li class="widget-container">
                        	<h2 class="widget-title">地图</h2>
                            <div class="textwidget">
                                    <div style="width:100%;height:250px;border:#ccc solid 1px;" id="dituContent"></div>
                            </div>
                        </li>
                    </ul>
                </div><!-- end #sidebar -->
                
                <div class="clear"></div><!-- clear float -->
            </div><!-- end #main -->
		</div><!-- end #content -->
        
		<div id="footer">
        <div id="footer-pattern">
        
                <div class="container940">
                        <div id="footcol1">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">选购及了解</h2>
                                        <ul>
                                            <li><a href="#">全身性健身器械</a></li>
                                            <li><a href="#">局部性健身器械</a></li>
                                            <li><a href="#">小型健身器材</a></li>
                                        </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol2">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">工具与App</h2>
                                    <ul>
                                        <li><a href="#">下载</a></li>
                                        <li><a href="#">开发人员</a></li>
                                        <li><a href="#">安全中心</a></li>
                                        <li><a href="#">网站导览</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol3">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">健身社区</h2>
                                    <ul>
                                        <li><a href="#">公告</a></li>
                                        <li><a href="#">资讯中心</a></li>
                                        <li><a href="#">讨论区</a></li>
                                        <li><a href="#">热门推荐</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol4">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">关于KeepBay</h2>
                                    <ul>
                                        <li><a href="#">公司简介</a></li>
                                        <li><a href="#">新闻</a></li>
                                        <li><a href="#">工作机会</a></li>
                                        <li><a href="#">广告机会</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
           
            <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
            
        </div><!-- end #footer-pattern -->  
		</div><!-- end #footer -->
        
        <div id="after-footer">
        	<div class="container940">
                <div id="sn">
                	<ul>
                    	<li><a href="#"><img src="../../../../public/static/images/icons/weibo.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/wechat.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/fb.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/twitter.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/youtube.png" width="32" height="32" alt="" /></a></li>
                    </ul>
                </div>
                <div id="footertext">
                    Copyright &copy; 2019 KeepBay All Rights Reserved.
                </div>
               <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #after-footer -->
        
	</div><!-- end #container -->
</div><!-- end #outer-container -->
		
</body>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(106.475195,29.571111);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:0});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    
    initMap();//创建和初始化地图
</script>
</html>
