<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="../../../../public/static/images/favicon.ico" />
<meta charset="UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" /> 
<meta name="description" content="" />
<title>KeepBay</title>
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link href="../../../../public/static/styles/style.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="../../../../public/static/styles/skitter.styles.css" media="all" rel="stylesheet" />
<!--[if lt IE 9]>
<link href="styles/ie8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../../public/static/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../../../public/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../../../public/static/js/jquery.animate-colors-min.js"></script>
<script type="text/javascript" src="../../../../public/static/js/jquery.skitter.js"></script>
<script type="text/javascript" src="../../../../public/static/js/hoverIntent.js"></script> 
<script type="text/javascript" src="../../.../../public/static/js/superfish.js"></script> 
<script type="text/javascript" src="../../../../public/static/js/supersubs.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
	//Menu
	jQuery("ul.sf-menu").supersubs({ 
	minWidth		: 12,		// requires em unit.
	maxWidth		: 27,		// requires em unit.
	extraWidth		: 3	// extra width can ensure lines don't sometimes turn over due to slight browser differences in how they round-off values
						   // due to slight rounding differences and font-family 
	}).superfish();  // call supersubs first, then superfish, so that subs are 
					 // not display:none when measuring. Call before initialising 
					 // containing tabs for same reason.
					 
	jQuery(document).ready(function() {
		jQuery(".box_skitter_large").skitter({
			animation: "random",
			interval: 3000,
			numbers: false, 
			numbers_align: "right", 
 			hideTools: true,
			controls: false,
			focus: false,
			focus_position: true,
			width_label:'340px', 
			enable_navigation_keys: true,   
 			progressbar: false
		});
	});				  
					 
});
</script>
<script type="text/javascript">
    function checkLoginForm() {
        var un = document.getElementById("username");
        var pw = document.getElementById("password");
        if(un.value == "") {
            alert("用户名不能为空");
            return false;
        } else if (pw.value == "") {
            alert("密码不能为空");
            return false;
        } else {
            return true;
        }
    }
    function checkRegisterForm() {
        var sex = document.getElementById("sex");
        var un = document.getElementById("username_log");
        var pw = document.getElementById("password_log");
        if(un.value == "") {
            alert("用户名不能为空");
            return false;
        } else if (pw.value == "") {
            alert("密码不能为空");
            return false;
        } else if (sex.value == "") {
            alert("性别不能为空");
            return false;
        } else {
            return true;
        }
    }
</script>
</head>
<body>
<div style="text-align:center;height:90px; width:100%;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- DEMO_970_90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-3553298197128602"
     data-ad-slot="9659969381"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<input type="hidden" id = "loginname" value="{$loginname}"><!--//用来获取$loginname-->

<div id="outer-container">
	<div id="container">
    	<div id="top">
        	<div id="logo"><a href="index"><img src="../../../../public/static/images/logo.png" width="270" height="110" alt=""  /></a></div><!-- end #logo -->
            <div id="nav">
                <ul id="topnav" class="sf-menu">
                    <li><a href="/index"  class="current">首页</a></li>
                    <li><a href="/index/product">产品</a>
                        <!-- <ul>
                            <li><a href="portfolio.html">Portfolio One Column</a></li>
                            <li><a href="portfolio2.html">Portfolio Two Column</a></li>
                            <li><a href="portfolio3.html">Portfolio Three Column</a></li>
                            <li><a href="portfolio4.html">Portfolio Four Column</a></li>
                        </ul> -->
                    </li>
                    <li><a href="/index/contact">联系我们</a></li>
                    <li><button class="login" data-toggle="modal" data-target="#login"  data-backdrop="false"><div id="notlogin1"></div>
                        </button></li>
                    <li><div id="separator"></div></li>
                    <li><button class="login" data-toggle="modal" data-target="#register"  data-backdrop="false"><div id="notlogin2"></div>
                        </button></li>
                    <li><a href="/index/gotouser"><div id="userinfo"></div></a></li>
                </ul><!-- #topnav -->
            </div><!-- #nav -->	
        </div><!-- end #top -->
        
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog">
            <form action="/index/login" method="POST" onsubmit="return checkLoginForm()">
                <div class="modal-dialog" role="document" style="width: 300px;height:270px;margin-top: 250px;">
                <div class="modal-content" >
                    <div class="modal-header myModal-header">
                    <button type="button" class="close myModal-header-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="myModalLabel">登录</h4>
                    </div>
                            
                    <div class="modal-body myModal-body">
                        <div class="form-group">
                            <label for="username" class="myModal-header-font">帐号</label>
                            <div>
                                <input type="text" name="username" class="form-control myModal-input myModal-header-font" id="username" style="width:100%;" placeholder="请输入帐号" >
                            </div>
                        </div>
                
                        <div class="form-group">
                            <label for="password" class="control-label myModal-header-font">密码</label>
                            <div>
                                <input type="password" name="password" class="form-control myModal-input myModal-header-font" style="border:solid 1px #ececec; font-size:11px; padding:8px 5px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;" id="password" placeholder="请输入密码">
                            </div>
                        </div>

                    </div><!--end modal-body myModal-body-->
            
                    <div class="modal-footer myModal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="width:40px;height:24px;padding:1px;float:right;margin-right:30px;color:white;background-color:#1E253F;border:0px">取消
                        </button>
                        <button type="submit" id="login" class="btn btn-primary" style="float:left;margin-left:30px;width:40px;height:24px;padding:1px">确定
                        </button>
                    </div><!--end modal-footer myModal-footer-->
                    </div>
                </form>
            </div>
        </div>


        <div class="modal fade" id="register" tabindex="-1" role="dialog">
                <form action="/index/register" method="POST" onsubmit="return checkRegisterForm()">
                    <div class="modal-dialog" role="document" style="width: 300px;height:270px;margin-top: 250px;">
                    <div class="modal-content" >
                        <div class="modal-header myModal-header">
                        <button type="button" class="close myModal-header-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="myModalLabel">注册</h4>
                        </div>
                                
                        <div class="modal-body myModal-body">
                        <div class="form-group">
                            <label for="username" class="myModal-header-font">帐号</label>
                            <div>
                                <input type="text" name="username" class="form-control myModal-input myModal-header-font" id="username_log" style="width:100%;" placeholder="请输入帐号" >
                            </div>
                        </div>
                
                        <div class="form-group">
                            <label for="password" class="control-label myModal-header-font">密码</label>
                            <div>
                                <input type="password" name="password" class="form-control myModal-input myModal-header-font" style="border:solid 1px #ececec; font-size:11px; padding:8px 5px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;" id="password_log" placeholder="请输入密码">
                            </div>
                        </div>

                        <div class="form-group">
                                <label for="name" class="myModal-header-font">性别</label>
                                <select name="sex" style="border:solid 1px #ececec; font-size:11px; padding:8px 5px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;" id="sex" class="form-control myModal-input myModal-header-font myModal-select">
                                    <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                                    <option>男</option>
                                    <option>女</option>
                                    <option>保密</option>
                                </select>
                        </div>
                        
                        </div><!--end modal-body myModal-body-->
                
                        <div class="modal-footer myModal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width:40px;height:24px;padding:1px;float:right;margin-right:30px;color:white;background-color:#1E253F;border:0px">取消
                            </button>
                            <button type="submit" id="login" class="btn btn-primary" style="float:left;margin-left:30px;width:40px;height:24px;padding:1px">确定
                            </button>
                        </div><!--end modal-footer myModal-footer-->
                    </div>
                </form>
                </div>
            </div>
            

        <div id="header">
        	<div id="slider-container">
            	
                <div class="box_skitter box_skitter_large">
                    <ul>
                        <li>
                            <a href=""><img src="../../../../public/static/images/content/slide1.jpg" alt="" /></a>
                            <div class="label_text">
                                <h3 class="colortext">我们是KeepBay</h3>
                                <span>量体裁衣 & 多种健身器械供你选择</span>
                            </div>
                        </li>
                        <li>
                            <a href=""><img src="../../../../public/static/images/content/slide2.jpg" alt="" /></a>
                            <div class="label_text">
                                <h3 class="colortext">装备你的主场</h3>
                                <span>科技互联，让运动更高效</span>
                            </div>
                        </li>
                        <li>
                            <a href=""><img src="../../../../public/static/images/content/slide3.jpg" alt="" /></a>
                            <div class="label_text">
                                <h3 class="colortext">只给你想要的</h3>
                                <span>更强劲，更专业的强劲</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="shadow-img-slider"></div>
            </div><!-- end #slider-container -->
        </div><!-- end #header -->
        
        <div id="after-header">
            <div id="afterheadercol1">
                    <h1>产品<span> / PRODUCT</span></h1>
            </div>
            <div id="afterheadercol2">
                    <a href="#"><span>More</span></a>
            </div>
            
        </div><!-- end #after-header -->
        
        <div id="before-content" class="patternbox">
        	<div class="shadow"></div>
        	<div class="container940">
            	<ul class="customlist">
                	<li>
                        <img src="../../../../public/static/images/icons/icon1.png" alt="" class="alignleft" /><h3 class="valignmiddle">全身性健身器械 </h3>
                        <img src="../../../../public/static/images/content/product1.jpg" alt="" class="aligncenter" width="260px"/>
                    </li>
                	<li>
                        <img src="../../../../public/static/images/icons/icon2.png"width="75" alt="" class="alignleft" /><h3 class="valignmiddle">局部性健身器械</h3>
                        <img src="../../../../public/static/images/content/product2.jpg" alt="" class="aligncenter" width="260px"/>
                    </li>
                	<li class="last">
                        <img src="../../../../public/static/images/icons/icon3.png" alt="" class="alignleft" /><h3 class="valignmiddle">小型健身器材</h3>
                        <img src="../../../../public/static/images/content/product3.jpg" alt="" class="aligncenter" width="260px"/>
                    </li>
                </ul>
                <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #before-content -->
        
		<div id="content">
        	<div id="main">
                <h2 class="title_pattern"><span>健身社区</span></h2>
                <ul id="recentpost">
                    <li>
                        <img src="../../../../public/static/images/content/pic1.jpg" width="100%" height="160" alt="" class="frame" />
                        <span class="shadowimg220"></span>
                        <div class="entry-date">02/11/19 - <a href="#">No Comment</a></div>
                        <h5 class="colortext"><a href="#">3个新手容易做错的健身动作</a></h5>
                        <span>新手一定要留意每个动作的细节,并不是每个人愿意每月花大把的金钱去聘请健身教练，为自己塑造完美身形...</span>
                    </li>
                    <li>
                        <img src="../../../../public/static/images/content/pic2.jpg" width="100%" height="160" alt="" class="frame" />
                        <span class="shadowimg220"></span>
                        <div class="entry-date">24/10/19 - <a href="#">No Comment</a></div>
                        <h5 class="colortext"><a href="#">训练也会过度，影响正常生活</a></h5>
                        <span>所谓的过度训练就是指身体在进行强度较大的运动后，没有足够的时间让身体恢复就继续运动，造成疲劳累积...</span>
                    </li>
                    <li>
                        <img src="../../../../public/static/images/content/pic3.jpg" width="100%" height="160" alt="" class="frame" />
                        <span class="shadowimg220"></span>
                        <div class="entry-date">15/10/19 - <a href="#">No Comment</a></div>
                        <h5 class="colortext"><a href="#">红白火龙果，营养差异如此之大！</a></h5>
                        <span>白肉的膳食纤维、叶酸较红肉高，可促进肠胃蠕动，帮助排便，另外，红肉则含有丰富的甜菜红素...</span>
                    </li>
                    <li class="last">
                        <img src="../../../../public/static/images/content/pic4.jpg" width="100%" height="160" alt="" class="frame" />
                        <span class="shadowimg220"></span>
                        <div class="entry-date">11/10/19 - <a href="#">No Comment</a></div>
                        <h5 class="colortext"><a href="#">受伤后到底要不要冰敷？</a></h5>
                        <span>在肌肉受伤的当下，会感觉到肌肉开始出现红、肿、热、痛的发炎反应，这是因为身体启动了修复因子...</span>
                    </li>
                </ul>
                <div class="clear"></div><!-- clear float -->
            </div><!-- end #main -->
		</div><!-- end #content -->
        
        <div id="after-content" class="patternbox">
        	<div class="container940">
            	<a href="#" class="button large">立即选购</a>
            	<h2>10月8日至10月21日购物满 <span class="colortext" style="font-size: 19px; white-space: pre;"> ¥2000</span> 立减<span class="colortext" style="font-size: 19px;white-space: pre;"> ¥400</span></h2>
                <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #after-content -->
        
        
		<div id="footer">
        <div id="footer-pattern">
        
			<div class="container940">
            	<div id="footcol1">
                	<ul>
                    	<li class="widget-container">
                            <h2 class="widget-title">选购及了解</h2>
                                <ul>
                                    <li><a href="#">全身性健身器械</a></li>
                                    <li><a href="#">局部性健身器械</a></li>
                                    <li><a href="#">小型健身器材</a></li>
                                </ul>
                        </li>
                    </ul>
                </div>
                <div id="footcol2">
                	<ul>
                        <li class="widget-container">
                        	<h2 class="widget-title">工具与App</h2>
                            <ul>
                            	<li><a href="#">下载</a></li>
                                <li><a href="#">开发人员</a></li>
                                <li><a href="#">安全中心</a></li>
                                <li><a href="#">网站导览</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="footcol3">
                	<ul>
                        <li class="widget-container">
                        	<h2 class="widget-title">健身社区</h2>
                            <ul>
                            	<li><a href="#">公告</a></li>
                                <li><a href="#">资讯中心</a></li>
                                <li><a href="#">讨论区</a></li>
                                <li><a href="#">热门推荐</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="footcol4">
                	<ul>
                        <li class="widget-container">
                        	<h2 class="widget-title">关于KeepBay</h2>
                            <ul>
                            	<li><a href="#">公司简介</a></li>
                                <li><a href="#">新闻</a></li>
                                <li><a href="#">工作机会</a></li>
                                <li><a href="#">广告机会</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            
            <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
            
        </div><!-- end #footer-pattern -->  
		</div><!-- end #footer -->
        
        <div id="after-footer">
        	<div class="container940">
                <div id="sn">
                	<ul>
                    	<li><a href="#"><img src="../../../../public/static/images/icons/weibo.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/wechat.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/fb.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/twitter.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/youtube.png" width="32" height="32" alt="" /></a></li>
                    </ul>
                </div>
                <div id="footertext">
                    Copyright &copy; 2019 KeepBay All Rights Reserved.
                </div>
               <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #after-footer -->
        
	</div><!-- end #container -->
</div><!-- end #outer-container -->
</body>
<script>
    var loginname = $('#loginname').val();
    window.onload=function() {
        if(loginname != ""){
            var userinfo = document.getElementById("userinfo");
            userinfo.innerText="个人中心";
        } else {
            var notlogin1 = document.getElementById("notlogin1");
            notlogin1.innerText="登录";
            var separator = document.getElementById("separator");
            separator.innerText="|";
            var notlogin2 = document.getElementById("notlogin2");
            notlogin2.innerText="注册";
        }
    }
</script>
</html>
