<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="../../../../public/static/images/favicon.ico" />
<meta charset="UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>Magnum</title>
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="../../../../public/static/styles/style.css" rel="stylesheet" type="text/css" />
<link href="../../../../public/static/styles/inner.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<link href="styles/ie8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="../../../../public/static/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../../../public/static/js/hoverIntent.js"></script> 
<script type="text/javascript" src="../../../../public/static/js/superfish.js"></script> 
<script type="text/javascript" src="../../../../public/static/js/supersubs.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
	//Menu
	jQuery("ul.sf-menu").supersubs({ 
	minWidth		: 12,		// requires em unit.
	maxWidth		: 27,		// requires em unit.
	extraWidth		: 3	// extra width can ensure lines don't sometimes turn over due to slight browser differences in how they round-off values
						   // due to slight rounding differences and font-family 
	}).superfish();  // call supersubs first, then superfish, so that subs are 
					 // not display:none when measuring. Call before initialising 
					 // containing tabs for same reason. 
					 
});
</script>
</head>
<body>
<div style="text-align:center;height:90px; width:100%;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- DEMO_970_90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-3553298197128602"
     data-ad-slot="9659969381"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div id="outer-container">
	<div id="container">
    	<div id="top">
        	<div id="logo"><a href="/index"><img src="../../../../public/static/images/logo.png" width="270" height="110" alt=""  /></a></div><!-- end #logo -->
            <div id="nav">
                <ul id="topnav" class="sf-menu">
                    <li><a href="/index">首页</a></li>
                    <li><a href="/index/index/Index/product" class="current">产品</a>
                        <ul>
                            <li><a href="portfolio.html">Portfolio One Column</a></li>
                            <li><a href="portfolio2.html">Portfolio Two Column</a></li>
                            <li><a href="portfolio3.html">Portfolio Three Column</a></li>
                            <li><a href="portfolio4.html">Portfolio Four Column</a></li>
                        </ul>
                    </li>
                    <li><a href="/index/index/Index/contact">联系我们</a></li>
                </ul><!-- #topnav -->
            </div><!-- #nav -->	
        </div><!-- end #top -->
        
        <div id="header" class="innerpage">
        	<div class="shadow"></div>
        	<div class="container940">
        		<h1 class="pagetitle">Product</h1>
                <div class="pagedesc">This can be your Tagline or something you want.</div>
                <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #header -->
        
        
		<div id="content" class="withsidebar">
        	<div id="main">
            	<div id="maincontent">
                    
                     <div id="ts-display-product-container">
                     <ul id="ts-display-product">
                        <li>
                            <div class="ts-display-product-img">
                               <a href="single-product.html"> <img src="../../../../public/static/images/content/product/prod1.jpg" alt="" /></a>
                            </div>
                            <div class="ts-display-product-text">
                            <h2 class="colortext">Toshiba Laptop 24’</h2>
                            <span class="productprice">$ 870.00</span>
                            <a href="single-product.html" class="button">Add to Cart</a>
                            </div>
                        </li>
                        <li>
                            <div class="ts-display-product-img">
                               <a href="single-product.html"> <img src="../../../../public/static/images/content/product/prod2.jpg" alt="" /></a>
                            </div>
                            <div class="ts-display-product-text">
                            <h2 class="colortext">Keyboard Vista</h2>
                            <span class="productprice">$ 150.00</span>
                            <a href="single-product.html" class="button">Add to Cart</a>
                            </div>
                        </li>
                        <li class="nomargin">
                            <div class="ts-display-product-img">
                               <a href="single-product.html"> <img src="../../../../public/static/images/content/product/prod3.jpg" alt="" /></a>
                            </div>
                            <div class="ts-display-product-text">
                            <h2 class="colortext">Scanner and Printer</h2>
                            <span class="productprice">$ 270.00</span>
                            <a href="single-product.html" class="button">Add to Cart</a>
                            </div>
                        </li>
                        <li>
                            <div class="ts-display-product-img">
                               <a href="single-product.html"> <img src="../../../../public/static/images/content/product/prod4.jpg" alt="" /></a>
                            </div>
                            <div class="ts-display-product-text">
                            <h2 class="colortext">HD - Apple</h2>
                            <span class="productprice">$ 470.00</span>
                            <a href="single-product.html" class="button">Add to Cart</a>
                            </div>
                        </li>
                        <li>
                            <div class="ts-display-product-img">
                               <a href="single-product.html"> <img src="../../../../public/static/images/content/product/prod5.jpg" alt="" /></a>
                            </div>
                            <div class="ts-display-product-text">
                            <h2 class="colortext">iPad- Apple</h2>
                            <span class="productprice">$ 500.00</span>
                            <a href="single-product.html" class="button">Add to Cart</a>
                            </div>
                        </li>
                        <li class="nomargin">
                            <div class="ts-display-product-img">
                               <a href="single-product.html"> <img src="../../../../public/static/images/content/product/prod6.jpg" alt="" /></a>
                            </div>
                            <div class="ts-display-product-text">
                            <h2 class="colortext">Nokia N8</h2>
                            <span class="productprice">$ 550.00</span>
                            <a href="single-product.html" class="button">Add to Cart</a>
                            </div>
                        </li>
                        <li>
                            <div class="ts-display-product-img">
                               <a href="single-product.html"> <img src="../../../../public/static/images/content/product/prod7.jpg" alt="" /></a>
                            </div>
                            <div class="ts-display-product-text">
                            <h2 class="colortext">Mouse Track</h2>
                            <span class="productprice">$ 9.00</span>
                            <a href="single-product.html" class="button">Add to Cart</a>
                            </div>
                        </li>
                        <li>
                            <div class="ts-display-product-img">
                               <a href="single-product.html"> <img src="../../../../public/static/images/content/product/prod8.jpg" alt="" /></a>
                            </div>
                            <div class="ts-display-product-text">
                            <h2 class="colortext">Headphone - Sony</h2>
                            <span class="productprice">$ 11.00</span>
                            <a href="single-product.html" class="button">Add to Cart</a>
                            </div>
                        </li>
                        <li class="nomargin">
                            <div class="ts-display-product-img">
                               <a href="single-product.html"> <img src="../../../../public/static/images/content/product/prod9.jpg" alt="" /></a>
                            </div>
                            <div class="ts-display-product-text">
                            <h2 class="colortext">PSP 3D - Sony</h2>
                            <span class="productprice">$ 300.00</span>
                            <a href="single-product.html" class="button">Add to Cart</a>
                            </div>
                        </li>
                     </ul>
                     
                      <div class="separator line"></div>
                     
                     </div><!-- end #ts-display-product -->
                     
                     
                     <div class="pagenavi productnav">
                        <a href="" class="page">1</a><span class="current">2</span><a href="" class="page">3</a><a href="" class="nextpostslink">Next &raquo;</a>
                    </div><!-- end pagenavi -->

                     <form class="prod_ordering" method="post">
                        <select name="catalog_orderby" class="orderby">
                            <option value="title"  selected='selected'>Alphabetically</option><option value="date" >Most Recent</option><option value="price" >Price</option>			</select>
                    </form>
                     
                     <div class="clear"></div><!-- clear float -->
                </div><!-- end #maincontent -->
                <div id="sidebar">
                	<ul>
                    	<li class="widget-container">
                            <h2 class="widget-title">Shooping Cart</h2>
                            <ul id="shoppingcartwidget">
                                <li>
                                    <a href="#"><img src="../../../../public/static/images/content/product/lp4.jpg" alt="" class="alignleft" /></a>
                                    <span class="colortext">New Printer XP</span><br/>
                                    <span>1x  $ 950.00</span>
                                    <span class="clear"></span>
                                </li>
                                <li>
                                    <a href="#"><img src="../../../../public/static/images/content/product/lp5.jpg" alt="" class="alignleft" /></a>
                                    <span class="colortext">New Camera Digital 16MP</span><br/>
                                    <span>1x  $ 550.00</span>
                                    <span class="clear"></span>
                                </li>
                            </ul>
                            <div class="shopping_textwidget">
                                <span class="totalprice">Subtotal:  $1500.00</span>
                                <a href="#" class="button">View Cart</a>
                                <a href="#" class="button">Checkout</a>
                            </div>
                        </li>
                    	<li class="widget-container">
                        	<h2 class="widget-title">Customer Login</h2>
                            <form action="#" method="get" id="login">
                            <fieldset>
                            <label for="username" id="username_label">Username</label>
                            <input type="text" name="username" id="username" /><br/><br/>
                            <label for="password" id="password_label">Password</label>
                            <input type="text" name="password" id="password" /><br/><br/>
                            <div class="lost"><a href="#" class="colortext">Lost Password?</a></div>
                            <input type="submit" name="submit" value="Login"/>
                            </fieldset>
                            </form>
                        </li>
                    	<li class="widget-container">
                        	<h2 class="widget-title">Product Categories</h2>
                            <ul>
                            	<li><a href="#">All Categories</a></li>
                                <li><a href="#">Computer (20)</a></li>
                                <li><a href="#">Handphone (30)</a></li>
                                <li><a href="#">Photography (15)</a></li>
                            </ul>
                        </li>
                    	<li class="widget-container">
                            <h2 class="widget-title">Featured Products</h2>
                            <ul id="recentproductwidget">
                                <li>
                                    <a href="#"><img src="../../../../public/static/images/content/product/lp1.jpg" alt="" class="alignleft" /></a>
                                    <span class="colortext">Sony Camera 13MP</span><br/>
                                    <span>$ 350.00</span>
                                    <span class="clear"></span>
                                </li>
                                <li>
                                    <a href="#"><img src="../../../../public/static/images/content/product/lp2.jpg" alt="" class="alignleft" /></a>
                                    <span class="colortext">Samsung Captivate</span><br/>
                                    <span>$ 550.00</span>
                                    <span class="clear"></span>
                                </li>
                                <li>
                                    <a href="#"><img src="../../../../public/static/images/content/product/lp3.jpg" alt="" class="alignleft" /></a>
                                    <span class="colortext">iPod Touch</span><br/>
                                    <span>$ 120.00</span>
                                    <span class="clear"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- end #sidebar -->
                
                <div class="clear"></div><!-- clear float -->
            </div><!-- end #main -->
		</div><!-- end #content -->
        
		<div id="footer">
        <div id="footer-pattern">
        
                <div class="container940">
                        <div id="footcol1">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">选购及了解</h2>
                                        <ul>
                                            <li><a href="#">全身性健身器械</a></li>
                                            <li><a href="#">局部性健身器械</a></li>
                                            <li><a href="#">小型健身器材</a></li>
                                        </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol2">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">工具与App</h2>
                                    <ul>
                                        <li><a href="#">下载</a></li>
                                        <li><a href="#">开发人员</a></li>
                                        <li><a href="#">安全中心</a></li>
                                        <li><a href="#">网站导览</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol3">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">健身社区</h2>
                                    <ul>
                                        <li><a href="#">公告</a></li>
                                        <li><a href="#">资讯中心</a></li>
                                        <li><a href="#">讨论区</a></li>
                                        <li><a href="#">热门推荐</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol4">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">关于KeepBay</h2>
                                    <ul>
                                        <li><a href="#">公司简介</a></li>
                                        <li><a href="#">新闻</a></li>
                                        <li><a href="#">工作机会</a></li>
                                        <li><a href="#">广告机会</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
           
            <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
            
        </div><!-- end #footer-pattern -->  
		</div><!-- end #footer -->
        
        <div id="after-footer">
        	<div class="container940">
                <div id="sn">
                	<ul>
                    	<li><a href="#"><img src="../../../../public/static/images/icons/weibo.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/wechat.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/fb.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/twitter.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/youtube.png" width="32" height="32" alt="" /></a></li>
                    </ul>
                </div>
                <div id="footertext">
                    Copyright &copy; 2019 KeepBay All Rights Reserved.
                </div>
               <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #after-footer -->
        
	</div><!-- end #container -->
</div><!-- end #outer-container -->
		
</body>
</html>
