<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="../../../../public/static/images/favicon.ico" />
<meta charset="UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>KeepBay</title>
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link href="../../../../public/static/styles/style.css" rel="stylesheet" type="text/css" />
<link href="../../../../public/static/styles/inner.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<link href="styles/ie8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../../public/static/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../../../public/static/js/hoverIntent.js"></script> 
<script type="text/javascript" src="../../../../public/static/js/superfish.js"></script> 
<script type="text/javascript" src="../../../../public/static/js/supersubs.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
	//Menu
	jQuery("ul.sf-menu").supersubs({ 
	minWidth		: 12,		// requires em unit.
	maxWidth		: 27,		// requires em unit.
	extraWidth		: 3	// extra width can ensure lines don't sometimes turn over due to slight browser differences in how they round-off values
						   // due to slight rounding differences and font-family 
	}).superfish();  // call supersubs first, then superfish, so that subs are 
					 // not display:none when measuring. Call before initialising 
					 // containing tabs for same reason. 
					 
});
</script>
</head>
<body>
<div style="text-align:center;height:90px; width:100%;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- DEMO_970_90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-3553298197128602"
     data-ad-slot="9659969381"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div id="outer-container">
	<div id="container">
    	<div id="top">
        	<div id="logo"><a href="/index"><img src="../../../../public/static/images/logo.png" width="270" height="110" alt=""  /></a></div><!-- end #logo -->
            <div id="nav">
                <ul id="topnav" class="sf-menu">
                    <li><a href="/index">首页</a></li>
                    <li><a href="/index/product">产品</a>
                        <ul>
                            <li><a href="portfolio.html">Portfolio One Column</a></li>
                            <li><a href="portfolio2.html">Portfolio Two Column</a></li>
                            <li><a href="portfolio3.html">Portfolio Three Column</a></li>
                            <li><a href="portfolio4.html">Portfolio Four Column</a></li>
                        </ul>
                    </li>
                    <li><a href="/index/contact">联系我们</a></li>
                    <li><a href="#" class="current">个人中心</a></li>
                    <li><a class="login" href="/index/logout">退出</a></li>
                </ul><!-- #topnav -->
            </div><!-- #nav -->	
        </div><!-- end #top -->


        <div id="header" class="innerpage">
        	<div class="shadow"></div>
        	<div class="container940">
        		<h1 class="pagetitle">欢迎，</h1>
                <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #header -->
        
        
		<div id="content" class="withsidebar">
                <div id="main">
                    <div id="maincontent">
                        <h2 class="title_pattern uppercase"><span>我的购物车</span></h2>
                        <div class="separator line"></div>
                        <h2 class="title_pattern uppercase"><span>订单管理</span></h2>
                        
                         <div class="clear"></div><!-- clear float -->
                    </div><!-- end #maincontent -->
                    <div id="sidebar" style="margin-left: 35px;">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title" style="color: #dc6a4d;">个人信息</h2>
                                <div class="textwidget">
                               <h6>用户名：<span>{$username}</span></h6>
                               <h6>性别：<span>{$sex}</span></h6>
                                </div>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title" style="color: #dc6a4d;">收货地址</h2>
                               
                            </li>
                        </ul>
                    </div><!-- end #sidebar -->
                    
                    <div class="clear"></div><!-- clear float -->
                </div><!-- end #main -->
            </div><!-- end #content -->
            
        
		<div id="footer">
        <div id="footer-pattern">
        
                <div class="container940">
                        <div id="footcol1">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">选购及了解</h2>
                                        <ul>
                                            <li><a href="#">全身性健身器械</a></li>
                                            <li><a href="#">局部性健身器械</a></li>
                                            <li><a href="#">小型健身器材</a></li>
                                        </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol2">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">工具与App</h2>
                                    <ul>
                                        <li><a href="#">下载</a></li>
                                        <li><a href="#">开发人员</a></li>
                                        <li><a href="#">安全中心</a></li>
                                        <li><a href="#">网站导览</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol3">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">健身社区</h2>
                                    <ul>
                                        <li><a href="#">公告</a></li>
                                        <li><a href="#">资讯中心</a></li>
                                        <li><a href="#">讨论区</a></li>
                                        <li><a href="#">热门推荐</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol4">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">关于KeepBay</h2>
                                    <ul>
                                        <li><a href="#">公司简介</a></li>
                                        <li><a href="#">新闻</a></li>
                                        <li><a href="#">工作机会</a></li>
                                        <li><a href="#">广告机会</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
           
            <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
            
        </div><!-- end #footer-pattern -->  
		</div><!-- end #footer -->
        
        <div id="after-footer">
        	<div class="container940">
                <div id="sn">
                	<ul>
                    	<li><a href="#"><img src="../../../../public/static/images/icons/weibo.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/wechat.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/fb.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/twitter.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/youtube.png" width="32" height="32" alt="" /></a></li>
                    </ul>
                </div>
                <div id="footertext">
                    Copyright &copy; 2019 KeepBay All Rights Reserved.
                </div>
               <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #after-footer -->
        
	</div><!-- end #container -->
</div><!-- end #outer-container -->
		
</body>
</html>
