<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="../../../../public/static/images/favicon.ico" />
<meta charset="UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>KeepBay</title>
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link href="../../../../public/static/styles/style.css" rel="stylesheet" type="text/css" />
<link href="../../../../public/static/styles/inner.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<link href="styles/ie8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../../public/static/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../../../public/static/js/hoverIntent.js"></script> 
<script type="text/javascript" src="../../../../public/static/js/superfish.js"></script> 
<script type="text/javascript" src="../../../../public/static/js/supersubs.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
	//Menu
	jQuery("ul.sf-menu").supersubs({ 
	minWidth		: 12,		// requires em unit.
	maxWidth		: 27,		// requires em unit.
	extraWidth		: 3	// extra width can ensure lines don't sometimes turn over due to slight browser differences in how they round-off values
						   // due to slight rounding differences and font-family 
	}).superfish();  // call supersubs first, then superfish, so that subs are 
					 // not display:none when measuring. Call before initialising 
					 // containing tabs for same reason. 
					 
});
</script>
</head>
<body>
<div style="text-align:center;height:90px; width:100%;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- DEMO_970_90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-3553298197128602"
     data-ad-slot="9659969381"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="text/javascript">
    function checkAddressForm() {
        var add = document.getElementById("address");
        if(add.value == "") {
            alert("地址不能为空");
            return false;
        } else {
            return true;
        }
    }
</script>
</div>

<div id="outer-container">
	<div id="container">
    	<div id="top">
        	<div id="logo"><a href="/index"><img src="../../../../public/static/images/logo.png" width="270" height="110" alt=""  /></a></div><!-- end #logo -->
            <div id="nav">
                <ul id="topnav" class="sf-menu">
                    <li><a href="/index">首页</a></li>
                    <li><a href="/index/product">产品</a> </li>
                    <li><a href="/index/contact">联系我们</a></li>
                    <li><a href="#" class="current">个人中心</a></li>
                    <li><a class="login" href="/index/logout">退出</a></li>
                </ul><!-- #topnav -->
            </div><!-- #nav -->	
        </div><!-- end #top -->


        <div id="header" class="innerpage">
        	<div class="shadow"></div>
        	<div class="container940">
        		<h1 class="pagetitle">欢迎，{$username}</h1>
                <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #header -->
        
        
		<div id="content" class="withsidebar">
                <div id="main">
                    <div id="maincontent">
                        <h2 class="title_pattern uppercase"><span>我的购物车</span></h2>
                        <table border="1" style="border-color:whitesmoke">
                             <tr>
                                <th width="60%">商品</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>小计</th>
                            </tr>
                            {volist name="cartinfo" id="value"}
                            <tr>
                                <td>
                                    <div style="text-align: left;">
                                        <a href="#"> <img src={$value.good_picpath} width="20%" alt="" /></a>
                                        <span style="margin-left: 10px;">{$value.good_name}</span>
                                    </div>
                                </td>
                                <td><span>¥{$value.good_price}</span></td>
                                <td><span>{$value.quantity}</span></td>
                                <td><span>¥{$value.good_amount}</span></td>
                            </tr>
                            {/volist}
                        </table>
                       <div id="cart-amount">
                            <h5 style="color: #dc6a4d;position: relative;float: left;">合计：<span style="color:black">¥{$cart_amount}</span></h5>
                            <a href="/index/createOrder" class="button" style="position: relative;float: right;" >购买</a>
                       </div>
                        
                        <div class="separator line"></div>
                        <h2 class="title_pattern uppercase"><span>订单管理</span></h2>
                        <table border="1" style="border-color:whitesmoke">
                                <tr>
                                   <th>订单编号</th>
                                   <th>下单时间</th>
                                   <th>收件人</th>
                                   <th>订单总价</th>
                               </tr>
                               {volist name="order_ov" id="value"}
                               <tr>
                                    <div style="text-align: left;">
                                        <form action="/index/gotouser" method="POST">
                                        <input style="height: 0px;" type='hidden' name='orderID' id="orderID" value="{$value.orderID}">
                                        <td width="10%"><button style="border: none;" type="submit">{$value.orderID}</button></td>
                                        </form>
                                        <td ><span>{$value.create_time}</span></td>
                                        <td><span>{$value.order_user}</span></td>
                                        <td><span>{$value.order_amount}</span></td>
                                    </div>
                               </tr>
                               {/volist}
                               
                           </table>


                         <div class="clear"></div><!-- clear float -->
                    </div><!-- end #maincontent -->
                    <div id="sidebar" style="margin-left: 35px;">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title" style="color: #dc6a4d;">个人信息</h2>
                                <div class="textwidget">
                               <h6>用户名：<span>{$username}</span></h6>
                               <h6>性别：<span>{$sex}</span></h6>
                                </div>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title" style="color: #dc6a4d;">收货地址<span style="margin-left: 20px;"><button class="edit-address" data-toggle="modal" 
                                    data-target="#edit-address"  data-backdrop="false" style="background-color: #dcb879;">
                                修改</button></span></h2>
                                <span>{$address}</span>
                            </li>
                        </ul>
                    </div><!-- end #sidebar -->
                    
                    <div class="clear"></div><!-- clear float -->
                </div><!-- end #main -->
            </div><!-- end #content -->
            
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="edit-address" tabindex="-1" role="dialog">
                <form action="/index/editAddress" method="POST" onsubmit="return checkAddressForm()">
                    <div class="modal-dialog" role="document" style="width: 300px;height:270px;margin-top: 250px;">
                    <div class="modal-content" >
                        <div class="modal-header myModal-header">
                        <button type="button" class="close myModal-header-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="myModalLabel">修改收货地址</h4>
                        </div>
                                
                        <div class="modal-body myModal-body">
                            <div class="form-group">
                                <div>
                                    <input type="text" name="address" class="form-control myModal-input myModal-header-font" id="address" style="width:100%;" placeholder="请填入新的收货地址" >
                                </div>
                            </div>
    
                        </div><!--end modal-body myModal-body-->
                
                        <div class="modal-footer myModal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width:40px;height:24px;padding:1px;float:right;margin-right:30px;color:white;background-color:#1E253F;border:0px">取消
                            </button>
                            <button type="submit" id="edit-address" class="btn btn-primary" style="float:left;margin-left:30px;width:40px;height:24px;padding:1px">确定
                            </button>
                        </div><!--end modal-footer myModal-footer-->
                        </div>
                    </form>
                </div>
            </div>


		<div id="footer">
        <div id="footer-pattern">
        
                <div class="container940">
                        <div id="footcol1">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">选购及了解</h2>
                                        <ul>
                                            <li><a href="#">全身性健身器械</a></li>
                                            <li><a href="#">局部性健身器械</a></li>
                                            <li><a href="#">小型健身器材</a></li>
                                        </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol2">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">工具与App</h2>
                                    <ul>
                                        <li><a href="#">下载</a></li>
                                        <li><a href="#">开发人员</a></li>
                                        <li><a href="#">安全中心</a></li>
                                        <li><a href="#">网站导览</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol3">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">健身社区</h2>
                                    <ul>
                                        <li><a href="#">公告</a></li>
                                        <li><a href="#">资讯中心</a></li>
                                        <li><a href="#">讨论区</a></li>
                                        <li><a href="#">热门推荐</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol4">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">关于KeepBay</h2>
                                    <ul>
                                        <li><a href="#">公司简介</a></li>
                                        <li><a href="#">新闻</a></li>
                                        <li><a href="#">工作机会</a></li>
                                        <li><a href="#">广告机会</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
           
            <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
            
        </div><!-- end #footer-pattern -->  
		</div><!-- end #footer -->
        
        <div id="after-footer">
        	<div class="container940">
                <div id="sn">
                	<ul>
                    	<li><a href="#"><img src="../../../../public/static/images/icons/weibo.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/wechat.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/fb.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/twitter.png" width="32" height="32" alt="" /></a></li>
                        <li><a href="#"><img src="../../../../public/static/images/icons/youtube.png" width="32" height="32" alt="" /></a></li>
                    </ul>
                </div>
                <div id="footertext">
                    Copyright &copy; 2019 KeepBay All Rights Reserved.
                </div>
               <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #after-footer -->
        
	</div><!-- end #container -->
</div><!-- end #outer-container -->
		
</body>
</html>
